<app-header></app-header>

<div class="home-container">
    <div class="all-movies">
        <div class="trending-movies">
            <div class="top">
                <h4>Trending Movies</h4>
                <div class="view-all">View All</div>
            </div>
            <div class="movies-thumbnail">
                <div class="movie" *ngFor="let movie of trendingMovies">
                    <div class="cover" (click)="goToMovie('trending', movie.id)">
                        <img [src]="movie.cover" alt="" />
                    </div>
                    <div class="detail">
                        <div class="name" (click)="goToMovie('trending', movie.id)">{{ movie.name }}</div>
                        <div class="rating">
                            <span class="rating-value">{{ movie.rating }}</span>
                            <app-star-rating
                                [rating]="movie.rating"
                                [isReadOnly]="true"
                            ></app-star-rating>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theatre-movies">
            <div class="top">
                <h4>Popular in Theatres</h4>
                <div class="view-all">View All</div>
            </div>
            <div class="movies-thumbnail">
                <div class="movie" *ngFor="let movie of theatreMovies">
                    <div class="cover" (click)="goToMovie('theatre', movie.id)">
                        <img [src]="movie.cover" alt="" />
                    </div>
                    <div class="detail">
                        <div class="name" (click)="goToMovie('theatre', movie.id)">{{ movie.name }}</div>
                        <div class="rating">
                            <span class="rating-value">{{ movie.rating }}</span>
                            <app-star-rating
                                [rating]="movie.rating"
                                [isReadOnly]="true"
                            ></app-star-rating>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-movies">
        <h4>All Time Popular</h4>
        <div class="movies">
            <div class="movie" *ngFor="let movie of popularMovies">
                <div class="name" (click)="goToMovie('popular', movie.id)">{{ movie.name }}</div>
                <div class="rating">
                    <span class="rating-value">{{ movie.rating }}</span>
                    <app-star-rating
                        [rating]="movie.rating"
                        [isReadOnly]="true"
                    ></app-star-rating>
                </div>
            </div>
            <div class="view-all">View all</div>
        </div>
    </div>
</div>

<div class="copyright">
    <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill="#ffffff" d="m12 2.5l8.84 3.15l-1.34 11.7L12 21.5l-7.5-4.15l-1.34-11.7L12 2.5m0 2.1L6.47 17h2.06l1.11-2.78h4.7L15.45 17h2.05L12 4.6m1.62 7.9h-3.23L12 8.63l1.62 3.87Z"/>
    </svg>
    Angular Movie App - Vinojan Abhimanyu
</div>